<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Hello!</title>
    </head>
    <body>
        <div>
            <form>
                <input type="text" name="TextName"/>
                <label>Dojo Location:</label>
                <select>
                    <option>San Jose</option>
                    <option>Chicago</option>
                    <option>New York</option>
                </select>
                <label>Favorite Language:</label>
                <select>
                    <option>C#</option>
                    <option>Python</option>
                    <option>JavaScript</option>
                    <option>Java</option>
                </select>
                <label>Comment(optional):</label>
                <textarea cols="4" rows="50"></textarea>
            </form>
        </div>
    </body>
    
</html>