<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css"/>   
    <title>Results</title>
</head>
<body>
    <div >
        <h1>Submitted Info</h1>
        <div class="flexbox">
            <p>Name:</p>
            <p>@ViewBag.name</p>
        </div>
        <div class="flexbox">
            <p>Dojo Location:</p>
            <p>@ViewBag.location</p>
        </div>
        <div class="flexbox">
            <p>Favorite Language</p>
            <p>@ViewBag.language</p>
        </div>
        <div class="flexbox">
            <p>Comment (optional):</p>
            @if(ViewBag.comment==null)
            {<p class="nocomment">No Comment</p>}
            else{<p>@ViewBag.comment</p>}
        </div>
    </div>
    <a href="/"><button>Go Back</button></a>
</body>
</html>